<script type="text/javascript">
    $(document).ready(function () {
        $("#show_link")
                .bind("ajax:beforeSend", function() {
                    $("#doc_view").html("<div class='loading'> <img src='/images/ajax-loader.gif'>")
                })
                .bind("ajax:success", function (evt, data, status, xhr) {
                    $("#doc_view").html(data)
                });
    });
</script>

<table style="width:100%;" cellpadding="5" cellspacing="10">
  <tr>
    <td colspan="2"><h3><%= image_tag("/images/lock-icon.png") %> <%= @document.title %></h3></td>
  </tr>
  <tr>
    <td style="vertical-align:top;">
      <% if @preview_img.nil? -%>
      <% else -%>
          <% @data_uri = "data:image/png;base64," + "#{@preview_img}" %>
          <img src="<%= @data_uri %>" class="thumb" title="Document Preview" alt="Document Preview">
      <% end -%>
    </td>
    <td style="width:100%;vertical-align:top;">

      <table>
        <tr>
          <td><strong>Author</strong>:</td>
          <td><%= @document.author %></td>
        </tr>
        <tr>
          <td><strong>Last viewed </strong>:</td>
          <td><%= @document.last_viewed.strftime('%Y-%m-%d %H:%M:%S') %></td>
        </tr>
        <tr>
          <td><strong>Last updated</strong>:</td>
          <td><%= @document.last_updated.strftime('%Y-%m-%d %H:%M:%S') %></td>
        </tr>
        <tr>
          <td><strong>Last modified by</strong>:</td>
          <td><%= @document.last_modified_by %></td>
        </tr>
        <tr>
          <td><strong>Writers can invite?</strong></td>
          <td><%= @document.writers_can_invite %></td>
        </tr>
        <tr>
          <td>
            <strong><%= link_to image_tag("/images/unlock-icon.png"), edit_doclist_path(@document.doc_id), :id => 'show_link', :remote => 'true' %></strong>
          </td>
        </tr>
      </table>

    </td>
  </tr>

</table>

