<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Google DocList Manager</title>
  <%= stylesheet_link_tag "/stylesheets/style" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.rails.js", "application.js" %>
  <script type="text/javascript">
      $(document).ready(function () {
          $('.preview_link')
                  .bind("ajax:beforeSend", function () {
                      $("#doc_view").html('')
                      $("#doc_preview").html("<div class='loading'> <img src='/images/ajax-loader-small.gif' />  </div>")
                  })
                  .bind("ajax:success", function (evt, data, status, xhr) {
                      $("#doc_preview").html(data)
                  });
      });
  </script>
</head>
<body>

<% if flash[:notice] -%>
    <p class="notice"><%= flash[:notice] %></p>
<% end -%>

<div id="container">
  <div id="header">
    <% if !session[:token].nil? -%>
        <div style="float:right;"><%= link_to('Logout', '/doclist/logout') %></div>
    <% end -%>

    <div id="navbar">


    </div>
  </div>

  <div id="content">
    <% if session[:token].nil? -%>
        <%= 'AuthSub session token: ' + session[:token] if session[:token] %>
        <%= link_to('Authorize this website', @authsub_link) %>
    <% else -%>
        <%= yield -%>
    <% end -%>
  </div>
  <div id="doc_preview">Select a document to view</div>
  <div id="doc_view"></div>

</div>

</body>
</html>