<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Google DocList Manager</title>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.rails.js", "application.js" %>
  <% javascript_tag do -%>
      function setDocsListLoadingMsg(id, msg) {
      $(id).getElementsByClassName('list')[0].update('
      <div class="loading"><img src="/images/ajax-loader.gif"> ' + msg + '</div>
      ');
      }
      function setLoadingMsg(id, msg) {
      $(id).update('
      <div class="loading"><img src="/images/ajax-loader.gif"> ' + msg + '</div>
      ');
      }

      document.observe('dom:loaded', function() {
      if ($('documents_data')) {
      $('documents_data').observe('click', function(event) {
      var el = event.element();
      if (el.tagName == 'LI') {
      el.up().childElements().each(function(item) {
      item.removeClassName('selected');
      });
      el.toggleClassName('selected');
      }
      });
      }

      if ($('doc_preview')) {
      $('doc_preview').observe('click', function(event) {
      var el = event.element();
      if (el.tagName == 'LI' && el.up('#contacts')) {
      el.toggleClassName('selected');
      checkbox = el.childElements("input[type='checkbox']")[0];
      checkbox.checked = checkbox.checked ? false : true;
      } else if (el.tagName == 'INPUT' && el.type == 'checkbox') {
      el.up().toggleClassName('selected');
      }
      });
      }
      });

      jquery(function($)
      {
        var docsLoading = function(id, msg)
        {
                $(id).getElementsByClassName('list')[0].
                    update('<div class="loading"><img src="/images/ajax-loader-small.gif"> ' + msg + '</div>');
        }

        var genericLoading = function(id, msg)
        {
                $(id).update('<div class="loading"><img src="/images/ajax-loader-small.gif"> ' + msg + '</div>');
        }

        $("#doclink")
            .bind("ajax:loading", docsLoading('documents_data', 'loading word documents...'))
            .bind("ajax:complete", docsLoading('documents_data', 'loading word documents...'))
            .bind("ajax:success", function(event, data, status, xhr)
                {
                    $("#documents_data").html(data)
                });

        $("#sheetlink")
            .bind("ajax:loading", docsLoading('documents_data', 'loading spread sheets'))
            .bind("ajax:complete", docsLoading('documents_data', 'loading spread sheets'))
            .bind("ajax:success", function(event, data, status, xhr)
                {
                    $("#documents_data").html(data)
                });

        $("#presolink")
            .bind("ajax:loading", docsLoading('documents_data', 'loading presentations'))
            .bind("ajax:complete", docsLoading('documents_data', 'loading presentations'))
            .bind("ajax:success", function(event, data, status, xhr)
                {
                    $("#documents_data").html(data)
                });

        $("#pdflink")
            .bind("ajax:loading", docsLoading('documents_data', 'loading pdfs'))
            .bind("ajax:complete", docsLoading('documents_data', 'loading pdfs'))
            .bind("ajax:success", function(event, data, status, xhr)
                {
                    $("#documents_data").html(data)
                });
      });

  <% end -%>
</head>
<body>

<% if flash[:notice] -%>
    <p class="notice"><%= flash[:notice] %></p>
<% end -%>

<div id="container">
  <div id="header">
    <% if !session[:token].nil? -%>
        <div style="float:right;"><%= link_to('Logout', '/doclist/logout') %></div>
    <% end -%>

    <div id="navbar">

      <%= link_to image_tag("/images/icon_document.jpeg")+'Documents', '/doclist/documents', :id => 'doclink', :remote => true %>
      <%= link_to image_tag("/images/icon_spreadsheet.png")+'Spreadsheets', '/doclist/spreadsheets', :id => 'sheetlink', :remote => true %>
      <%= link_to image_tag("/images/icon_presentation.png")+'Presentations', '/doclist/presentations', :id => 'presolink', :remote => true %>
      <%= link_to image_tag("/images/icon_pdf.png")+'PDFs', '/doclist/pdf', :id => 'pdflink', :remote => true %>

    </div>
  </div>

  <div id="content">
    <% if session[:token].nil? -%>
        <%= 'AuthSub session token: ' + session[:token] if session[:token] %>
        <%= link_to('Authorize this website', @authsub_link) %>
    <% else -%>
        <%= yield -%>
        <div id="doc_preview">Select a document to view</div>
    <% end -%>
  </div>
</div>

</body>
</html>